@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,600);

body{background:#FFF;
	font-family:'Roboto Mono',monospace !important;
	overflow-x:hidden}
html {
	scroll-behavior: smooth;
}
.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFF no-repeat center center;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-repeat: no-repeat;

}
.hidePreloader {
  display: none !important;
}
a {text-decoration: none;}
.section-title h5{
	font-size: 2rem;
	font-weight: 500;
	text-align: center;
	text-transform: capitalize;
	margin: 8vh 0;
}
h3 {
	font-size: 22px;
	font-weight: bold;
}

/* scroll */
	/* scroll width */
	::-webkit-scrollbar {
	width: 13px;
	cursor: pointer;
	}

	/* Track */
	::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
	background: rgb(27, 157, 161); 
	border-radius: 10px;
	transition: all 0.7s ease-in-out;
	cursor: pointer;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	background: #037ab1; 
	cursor: pointer;
	}
/* end of scroll */

* {
    box-sizing: border-box;
}
.clear{
	height: 10vh;
}
body {
	margin: 0;
	font-size: 18px;
}

/*Navigation Bar*/
.navbar{ background: transparent; 
	text-transform: capitalize;
	font-size: 17px; padding-top: 2rem; }


.nav-link{
	margin-right: .6em !important; 
	font-size: .8rem;
}

.navbar-brand{
	border-radius: 1rem;
	color: black !important;
	background: #f9fafc;
	cursor: pointer;
}
.navbar-brand:hover{ color: #e6e3e3;}

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:transparent !important; outline: none !important;}
.fa-list-ul{
	font-size: 2rem;
}
.navbar a {
	color: black !important;
}
.navbar-change{
	background-color: #fff;
	color: black;
	box-shadow: 0 1px 30px rgba(0,0,0,.1);
}
/* end of nav bar */

/* start of main header */
.main-header {
	background: url(../assets/main-image2.jpeg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 100vh;
	border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
	align-items: center;
	justify-content: center;
	position: relative;
}
.overlay{
	border-bottom-left-radius:50% 20%;
	border-bottom-right-radius:50% 20%;
	background:#2dce89;
	background:-webkit-linear-gradient(to left top, #08f4ff, #07fcdd, #67ffae, #abff77, #eef643);
	background: linear-gradient(to left top, #08f4ff, #07fcdd, #67ffae, #abff77, #eef643);
	opacity:.7;
	position:absolute;
	right:0;
	width:100%;
	height:100%;
	left:0;
	top:0
}


.main-text {
	padding-left: 15px;
	padding-right: 15px;
	max-width: 80vw;
}
.main-call{
	font-size: 0.9rem !important;
	margin-top: 5px;
}
.typewrite{
	text-decoration: none;
	font-size: 2rem;
}
.typewrite:hover{
	text-decoration: none;
	cursor: text;
}
.main-btn {
	font-size: 1.4rem;
	border-color: #fff !important;
	background: transparent;
	transition: all 0.2s ease-in-out;
	outline: none;
}
.main-btn:hover{
	background-image: linear-gradient(to left top, #05b7c8, #00acb7, #00a1a6, #009695, #008b85);
	background-image: linear-gradient(to left top, #05b7c8, #00acb7, #00a1a6, #009695, #008b85);
	transform: translateX(20%);
	transform: scale(1.07);
	border: none !important;
	outline: none;
}
.main-text > p{
	font-size: 3rem;
	font-weight: 450;
	}
	/* end of main header */

	/* start of about me */
.avatar-image{
	height: 350px;
	width: 350px;

}

.about .row p {
	font-size: 1rem;
	font-weight: 350;
	line-height: 1.7;
}
.about .row ul{
	padding-left: 0;
}
.about .row ul li {
	font-size: 1.2rem;
	text-transform: capitalize;
	border-bottom: 1px solid gray;
	list-style-type: none !important;
	line-height: 2;
}
.about .row span {
	position: absolute;
	right: 0;
	font-size: 1.2rem;
}
/* end of about me */

/* services */
.services{
	padding: 50px 25px;
	box-sizing: border-box;
	border: 1px solid white;
	box-shadow: 1px 1px 6px 1px #c0c0c0;
	min-height: 0vh;
	margin: 0 3vw;
}
.services i{
	font-size: 3rem;
	color: #009695;
	padding: 10px 0;
}
.services p{
font-size: 1rem;
line-height: 1.5;
text-align: justify;
padding: 3px 5px;
}
/* end of services */



/* projects*/
.project, .services{
	margin-top: 30px;
}
.project img{
	max-width: 100%;
	height: 40vh;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-project {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease-in-out;
}

.project:hover .overlay-project {
  height: 100%;
  cursor: pointer;
}

.overlay-project-text {
	opacity: 1;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* end of projects */




#contact {
	background:  #011231;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2a5298, #011231);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 100%;
	
	color: #fff;
}
h6 {
	font-size: 40px;
	padding: 0px;
}
.contact-row {
	padding: 4%;
	line-height: 1.9;
	font-size: 17px;
}
#contact div ul {
	list-style-type: none;
	padding-left: 0;
	/* color: white; */
}
#contact div ul li a {
	/* color: #fff; */
	text-decoration: none;
}
#location-icon {
	color: rgb(4, 144, 238);
	/* font-size: 30px; */
	padding-right: 10px;
}
#contact div ul li i {
	color: #fff !important;
	text-decoration: none;
	font-size: 30px;
	line-height: 2;
}
.social-icons a {
	font-size: 40px;
	margin: 10px;
}
.social-icons a i{
	color:  #cbcfcf;
	transition: color .3s ease-in-out;
	margin-top: 30px;
	margin-bottom: 15px;
}
.social-icons a i:hover{
	color:  #b0b1b1;
}
.copyright {
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding-top: 10px;
	min-width: 100%;
	margin-top: -3px;
	
	
}
.copyright p{
	color: white;
	font-size: 14px;
	text-align: center;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 30px;
	
}
.copyright p i {
	color: red;
}
.clear {
	clear: both;
}

