body {
  font-family: "Noto Sans", sans-serif;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #000;
  padding: 15px 25px;
}
#mobile-nav {
  margin-left: -100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100h;
  width: 100vw;
  background: rgba(2, 82, 78);
  padding-top: 30px;
  transition: 0.4s;
}
#mobile-nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
#mobile-nav ul li {
  margin: 30px 0;
}
#mobile-nav ul li a {
  font-size: 20px;
  font-weight: 600;
  color: #e5e5e5;
  text-decoration: none;
  transition: color 0.3s;
}
#mobile-nav ul li a:hover {
  color: #fff;
}
.active {
  margin: 0 !important;
}
.close {
  font-size: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  cursor: pointer;
}
#toggler {
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  #web-nav {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .fa-bars {
    display: none;
  }
  #mobile-nav {
    margin-left: -100vw !important;
  }
}
